{% extends 'base.html' %}

{% block title %}Detalle del Evento{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>{{ evento.titulo }}</h1>
        </div>
        <div class="card-body">
            <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
            <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
            <h2>Voluntarios:</h2>
            <ul class="list-group">
                {% for voluntario in evento.voluntarios.all %}
                    <li class="list-group-item">{{ voluntario.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url 'evento_list' %}" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
