{% extends 'base.html' %}

{% block title %}Lista de Eventos{% endblock %}

{% block content %}
    <h1>Lista de Eventos</h1>
    <a href="{% url 'evento_create' %}" class="btn btn-primary mb-3">Agregar Evento</a>
    <ul class="list-group">
        {% for evento in eventos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'evento_detail' evento.pk %}">{{ evento.titulo }}</a>
                <div>
                    <a href="{% url 'evento_update' evento.pk %}" class="btn btn-secondary btn-sm">Editar</a>
                    <a href="{% url 'evento_delete' evento.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
